{% load static %}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static 'scripts/jquery-ui-1.13.2/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'scripts/jquery-ui-1.13.2/jquery-ui.structure.min.css' %}">
    <link rel="stylesheet" href="{% static 'scripts/jquery-ui-1.13.2/jquery-ui.theme.min.css' %}">

    <script src="{% static 'scripts/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'scripts/jquery-ui-1.13.2/jquery-ui.min.js' %}"></script>
</head>
<html>
<body>
    <form>
        <div>
            <input type="text" placeholder="First" id="first">
            <label for="first">Name: *</label> 
        </div>
        <div>
            <input type="text" placeholder="Last">
        </div>
        <div>
            <input type="email" id="email">
            <label for="email">Email: *</label>
        </div>
        <div>
            <input type="text" id="datePicker">
            <label for="datePicker">Date: *</label>
        </div>
        <div>
            <select id="starttime">
                <option>Select a time</option>
            </select>
            <label for="starttime">Start Time: *</label>
        </div>
        <div>
            <select id="endtime">
                <option>Select a time</option>
            </select>
            <label for="endtime">End Time: *</label>
        </div>
        <label id='dt'></label>
    </form>
    <script src="{% static 'scripts/form.js' %}" defer></script>
    {{myMembers|json_script}}
</body>
</html>