{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Lock Wizards Form Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Lock Wizards Form Page">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'scripts/jquery-ui-1.13.2/jquery-ui.min.css' %}">
        <link rel="stylesheet" href="{% static 'scripts/jquery-ui-1.13.2/jquery-ui.structure.min.css' %}">
        <link rel="stylesheet" href="{% static 'scripts/jquery-ui-1.13.2/jquery-ui.theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'styles/form.css'%}">

        <script src="{% static 'scripts/jquery-3.7.1.min.js' %}"></script>
        <script src="{% static 'scripts/jquery-ui-1.13.2/jquery-ui.min.js' %}"></script>
    </head>
    <body>
        <header>
            <a href="{% url 'home' %}">
                <img class="header-logo" src="{% static 'pictures/logo/Lock_Wizards_png.png' %}" alt="Lock Wizards Logo">
            </a>
        </header>
        <main>
            <form novalidate method="post" action="{% url 'submit' %}">
                {% csrf_token %}
                <div class="main-form-grid">
                    <div class="graphic-block1"></div>
                    <div class="graphic-block2"></div>
                    <div class="form-box">
                        <h1 class="form-header-text common-header-format">
                            Time Submission Form
                        </h1>
                        <p class="required-text common-header-format">
                            Required *
                        </p>
                        <!--Only activates if there is anything stored within myMessage!-->

                        {% if myMessage %}
                        <p class="db-error-text common-header-format">{{myMessage}}</p>
                        {% endif %}
                        <div class="form-inputs">
                            <div class="input-group first-name">
                                <label for="firstNameField">Name *</label>
                                <input type="text" placeholder="First" id="firstNameField" name="firstName" pattern="[A-za-z]{1,50}" maxlength="50" required>
                                <span class="general-error" id="firstNameErr"><br></span>
                            </div>
                            <div class="input-group last-name">
                                <label for="lastNameField">*</label>
                                <input type="text" placeholder="Last" id="lastNameField" name="lastName" pattern="[A-za-z]{1,50}" maxlength="50" required>
                                <span class="general-error" id="lastNameErr"><br></span>
                            </div>
                            <div class="input-group email-class">
                                <label for="emailField">Email *</label>
                                <input type="email" id="emailField" name="email" pattern="[A-Za-z\._\-0-9]*[@][A-Za-z]*[\.][a-z]{2,4}$" maxlength="62" required>
                                <span class="general-error" id="emailErr"><br></span>
                            </div>
                            <div class="input-group the-date-picker">
                                <label for="datePicker">Date *</label>
                                <!--Inline CSS used here since this is the only way to properly style this jQuery element!-->
                                <input type="text" id="datePicker" name="date" style="background-color: #DFFAD4; border: 1px solid black; border-radius: 3px; padding: 4% 0% 4% 2%;" required>
                                <span class="general-error" id="datePickerErr"><br></span>
                            </div>
                            <div class="input-group start-time">
                                <label for="startTimeField">Start Time *</label>
                                <select id="startTimeField" name="unixStartTime" required>
                                    <option value="">Select a time</option>
                                </select>
                                <span class="general-error" id="startTimeError"><br></span>
                            </div>
                            <div class="input-group end-time">
                                <label for="endTimeField">End Time *</label>
                                <select id="endTimeField" name="unixEndTime" required>
                                    <option value="">Select a time</option>
                                </select>
                                <span class="general-error" id="endTimeError"><br></span>
                            </div>
                        </div>
                        <div class="button-container">
                            <button class="submit-button">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </main>
        <!--Date, Start Time, and End Time data!-->
        <script src="{% static 'scripts/form.js' %}" defer></script>
        {{myMembers|json_script}}
    </body>
</html>