{% load static %}
<!DOCTYPE html>
<html>
<body>
    <form>
        <div>
            <input type="text" placeholder="First" id="first">
            <label for="first">Name: *</label> 
        </div>
        <div>
            <input type="text" placeholder="Last">
        </div>
        <div>
            <input type="email" id="email">
            <label for="email">Email: *</label>
        </div>
        <div>
            <input type="date" id="calendardate" min="">
            <label for="calendardate">Date: *</label>
        </div>
        <div>
            <select id="starttime">
                <option>Select a time</option>
            </select>
            <label for="starttime">Start Time: *</label>
        </div>
        <div>
            <select id="endtime">
                <option>Select a time</option>
            </select>
            <label for="endtime">End Time: *</label>
        </div>
    </form>

    <script src="{% static 'scripts/form.js' %}" 
        defer
        data-base-date="{{baseDate}}"
        data-last-date="{{lastDate}}"></script>
    {{myMembers|json_script}}
</body>
</html>