/* General styling
** ---------------
** Styling related to the HTML page as a whole
** and specific, main structure elements such as body.
*/
:root {
    color: var(--palette-color-1);
    background-color: #EFEFEF;
    font: 400 16px/20px Poppins, Arial;
    -webkit-text-size-adjust: 100%;
  }
  
* {
    --palette-color-1: white;
    --palette-color-2: #7ED957;
    --palette-color-3: black;
    --palette-color-4: #DFFAD4;
    --palette-color-5: red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 80%;
    width: 100%;

    display: flex;
    flex-direction: column;
    flex: 1;

    background-color: var(--palette-color-1);
}



/* Header styling
** ---------------
** Styling related to the website's fixed header.
*/
header {
    z-index: 10;
    display: flex;

    max-width: inherit;
    width: inherit;
    height: 90px;
    padding: 0 clamp(1.25rem, -0.089rem + 3.571vw, 3.125rem);

    position: fixed;
    top: 0px;

    background-color: var(--palette-color-1);
    box-shadow: 
        0px 0px 3px rgba(0, 0, 0, 0.2),
        0px 0px 3px rgba(0, 0, 0, 0.2) inset;
}

.header-logo {
    z-index: 11;
    position: absolute;
    object-fit: contain;
    height: 80px;
    top: 5px;
}

.header-logo:hover {cursor: pointer;}



/*Main Block Styling
** ------------------
** The header is contained within the body of the
** page, so the main block is used to distinguish
** the rest of the body's styling.
*/
main {
    margin-top: 90px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    max-width: 53%;
    width: 100%;
    justify-content: center;
    align-self: center;
    background-color: white;
}



/* Over-arching Grid Styling
** --------------------------
** Styling related to outer grid which contains the form box
** as well as two boxes that aid in the graphic design of the
** form itself. The form box will be where all the information
** is placed.
*/
.main-form-grid {
    display: grid;
    min-height: 300px;
    grid-template-columns: 20% 80%;
    grid-template-rows: 5% 95%;
    grid-template-areas: 
        "graphic-block1 graphic-block2"
        "msg-box msg-box";
}

.graphic-block1 {
    display: grid;
    grid-area: graphic-block1;
    background-color: var(--palette-color-2);
}

.graphic-block2 {
    display: grid;
    grid-area: graphic-block2;
    background-color: #E1E1E1;
}



/* Form Box Grid Styling
** ----------------------
** Styling related to the nested grid of the form box
** This nesting was done to create the rows for each area
** where elements and information would end up being placed
** in the form box.
*/
.msg-box {
    display: grid;
    grid-area: msg-box;
    grid-template-columns: 100%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    grid-template-areas: 
        "thanks-header-text"
        "thanks-message-text"
        "home-link";
    background-color: rgba(126, 217, 87, 0.6);
}

.general {align-items: center;}

.thanks-header-text {
    font: 
            600 
            clamp(1rem, 0.864rem + 0.682vw, 2.5rem)
            /20px
            Poppins, Arial;

    padding-left: 2%;
    color: var(--palette-color-3);

    display: grid;
    grid-area: thanks-header-text;
}

.non-header-text{
    font: 500
            clamp(0.75rem, 0.693rem + 0.284vw, 1.375rem)
            Poppins, Arial;

    justify-content: center
}

.thanks-message-text {
    margin: 0% 20% 0% 20%;
    color: var(--palette-color-3);

    display: grid;
    grid-area: thanks-message-text;
}

.home-link {
    display: grid;
    grid-area: home-link;
}



/* Media Query styling
** --------------------
** Styling related to when the screen size of a device
** using the website goes below 1024px in width. This 
** aids in designing a dynamic and responsive website.
** The grid layout does not change here like the regular
** form.
*/
@media all and (max-width: 1024px) {

    main {margin-top: 60px;}
    body {max-width: 100%;}

    header {height: 60px;}

    .header-logo {height: 50px;}

    .main-form-grid {grid-template-rows: 4% 96%;}

    .button-container{
        display: grid;
        grid-area: button-container;
        padding-bottom: 2%;
    }

    button{
        width: 50%;
        justify-self: center;
        align-self: center;
    }

    .submit-button {
        width: clamp(8rem, 7.091rem + 4.545vw, 10rem);
        height: clamp(2.5rem, 2.216rem + 1.42vw, 3.125rem);
    }

    .db-error-text {line-height: 15px;}

}



/* Media Query styling
** --------------------
** Styling related to when the screen size of a device
** using the website goes below 776px in width. This 
** aids in designing a dynamic and responsive website.
** The layout of the form changes so that the form fills
** the screen.
*/
@media all and (max-width: 776px) {
    main {
        max-width: 100%;
    }
}