/* General styling*/
/*---------------*/
* {
    --palette-color-1: white;
    --palette-color-2: #7ED957;
    --palette-color-3: black;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: var(--palette-color-1);
    background-color: #EFEFEF;
    font: 400 16px/20px Poppins, Arial;
}

body {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--palette-color-1);   
}

a {text-decoration: none;}



/* Header styling*/
/*---------------*/
header {
    display: flex;
    flex-direction: row;

    max-width: inherit;
    width: 100%;
    height: 90px;
    padding: 0 50px;

    position: fixed;
    top: 0;

    background-color: var(--palette-color-1);
    box-shadow: 
        0px 0px 3px rgba(0, 0, 0, 0.2),
        0px 0px 3px rgba(0, 0, 0, 0.2) inset;
}

.left-header-section {
    display: flex;
    flex: 1;
}

.header-logo {
    position: absolute;
    height: 80px;
    object-fit: contain;
    top: 5px;
}

.header-logo:hover {cursor: pointer;}


/* Form styling*/
/*-------------*/
main {
    height: 1000px;
    margin-top: 190px;

    display: flex;
    flex-direction: column;
    max-width: 750px;
    width: 100%;

    background-color: white;
}

.new-grids {
    height: inherit;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 2% 45%;
    grid-template-areas:
        "graphic-block1 graphic-block2"
        "info-box info-box";
}

.graphic-block1 {
    background-color: var(--palette-color-2);
    grid-area: graphic-block1;
}

.graphic-block2 {
    background-color: #E1E1E1;
    grid-area: graphic-block2;
}

.info-box {
    background-color: rgba(126, 217, 87, 0.6);
    grid-area: info-box;
}

.header-text {
    margin: 20px 0px 15px 2%;
    color: var(--palette-color-3);
    font: 600 30px/45px Poppins, Arial;
}

.field-text, 
.date-time {
    color: var(--palette-color-3);
    font: 500 16px/20px Poppins, Arial;
}

.field-text {margin: 30px 0 0 15%;}

.date-time {margin-left: 10%;}

.style-input {
    width: 32%;
    padding: 10px 0px 10px 5px;
    font: 400 12px/20px Poppins, Arial;
    border: 1px solid var(--palette-color-3);
    background-color: #DFFAD4;
}

.first {margin: 0 1% 0 15%;}

.last {margin: 0 15% 0 1%;}

.email {
    width: 66.67%;
    margin: 0 15% 0 15%;
}

.submit-button {
    margin: 50px 0 0 36%;
    width: 200px;
    height: 50px;
    
    font: 500 18px/20px Poppins, Arial;

    color: var(--palette-color-1);
    background-color: var(--palette-color-2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

    border: none;
    border-radius: 50px;
    transition: 
        background-color 0.1s,
        box-shadow 0.1s;
}

.submit-button:hover {
    cursor: pointer;
    background-color: #6cb94b;
    box-shadow: none;
}

.submit-button:active {background-color: #508937;}



/* Media query styling*/
/*--------------------*/
@media all and (max-width: 1024px) {
    header {height: 60px;}

    .header-logo {height: 50px;}
}

@media all and (max-width: 768px) {

    .submit-button {margin-left: 15%;}
}

@media all and (max-width: 480px) {

    .new-grids {grid-template-rows: 2% 35%;}

    .header-text {
        margin-top: 5px;
        font: 600 20px/30px Poppins, Arial;
    }
    
    .field-text, 
    .date-time {
        margin-top: 10px;
        font: 500 12px/16px Poppins, Arial;
    }
    
    .style-input {
        padding: 5px 0px 5px 5px;
        font: 400 10px/16px Poppins, Arial;
    }

    .email {width: 67%;}
    
    .submit-button {
        margin-top: 20px;
        width: 120px;
        height: 30px;
        
        font: 500 14px/20px Poppins, Arial;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
}